#h2 {
    text-align: center;
    font-size: 10px;
}

#table.table1 {
    float: left;
    max-height: 300px;
    font-size: xs;
}

#rackContainer {
    padding: 10px;
    width: fit-content;
    float: left;
}

