#entries1 td, #entries1 th {
    max-height: 3px;
    width:auto;
    padding: 2px; 
    
  }

  #entries1 td2 {
    color: white;
    background-color: purple;
    max-height: min-content;
  }

  #title {
    text-align: center;
    font-family: arial, sans-serif;
  }
  
  #entries1 {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    /* border: 3px solid black; */
    /* width: 100%; */
  }
 
#entries1 td:nth-child(odd){
  background-color: black;
  color: white;
  width: 10px;
  font-size: 8px;
  max-height: 3px;
  border: 1px solid black;
  max-height: min-content;
}

#entries1 td { 
  background: whitesmoke;
  max-height: min-content;
}

#entries1 tr:hover {background-color: #ddd;}

#entries1 th {
  text-align: center;
  background-color: black;
  color: white;
  font-size: small;
  border: 1px solid black;
}