#header {
  text-align: center;
  width: 100%;
  height: 10%;
}

#Side-bar {
    background: slategrey;
    height: 100vh;
    width: 15%;
    position:absolute; 
    left:0px; 
    top:0px;
  }
  
  #Content {
    position:relative;
    left: 15%;
    padding-left: 5%; 
    background-color: white;
    height: 100vh;
    width: 75%;
  }
  
  .myButton {
    color: white;
    font-size: 20px;
    background: 0%;
  }

  .myButton:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .div-wrapper {
    position: relative;
    height: 250px;
    width: 250px;
}

.div-wrapper img {
    position: absolute;
    left: 0;
    bottom: 0;
}