{% extends "base.html" %}

{% block content %}

  {% if form.errors %}
  <center>
    <p>Your username and password didn't match. Please try again.</p>
  </center>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <center>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
      <!-- <Input type="submit" value="login" />
      <Input type="hidden" name="next" value="{{ next }}" /> -->
      <button> Submit</button>
  
  </form>
  <Button onclick="window.location.href = 'https://oauth.oit.duke.edu/oauth/authorize.php?client_id=hyposoft-prod&client_secret=j=U$FTe*x6ALYK***q*tR2deUdyx6ZWsmMahXF3U31QWIzvhQi&redirect_uri=http%3A%2F%2Fhyposoft.herokuapp.com%2F&response_type=token&state=1129&scope=basic'">
    Click here to sign in with Duke NetID.
  </Button>
</center>
  {# Assumes you setup the password_reset view in your URLconf #}
 {#  <p><a href="{% url 'password_reset' %}">Lost password?</a></p> #}
  
{% endblock %}
