#ParentElement {
    float: left;
    display: inline;
    padding-left: 20%;
    color: white;
    text-align: center;
    font-size: 13px;
}


.rack-container {
    height: 731px;
    background-color: whitesmoke;
    width: 180px;
    position: relative;
    left: 20px;
    bottom: 1482px;
}

.LeftBar {
    background-color: black;
    position: relative;
    height: 731px; /* 43 rows * 17px height of each row, 3px top/bottom border? */ 
    width: 20px;
}

.CenterBar {
    background-color: black;
    position: relative;
    height: 20px;
    width: 220px;
}

.RightBar {
    background-color: black;
    height: 731px;
    width: 20px;
    position: relative;
    bottom: 731px;
    margin-left: 200px; 
}

.BottomBar {
    background-color: black;
    height: 20px;
    width: 220px;
    position: relative;
    bottom: 731px;
}
